
.mainDiv{
    
}
.areaUsersMessage{
    width: 600px;
    height: 500px;
    border: solid 1px black;
    margin: 0px auto;
    
}
.Form{
    border: solid 1px darkblue;
    width: 600px;
    margin-left:  auto;  
    margin-right: auto; 
     
       
}
.messageArea{
    width:500px; 
    height: 80px; /* Высота поля в пикселах */
    resize: none;
    margin-top:20px;
}
.text-align-right{
    text-align: right;
}
